/* 
 * Define custom styling here
 */
 
 body
 {
    font-family: 'Montserrat', sans-serif;
 }

 .app-title
 {
    font-family: 'Amatic SC', cursive;
    font-size: 6rem;
 }

 #header
 {
    padding: 1.5rem;
 }

 #header-title
 {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    transition: 0.2s;
 }

 #main
 {
     margin-top: 13rem;
 }

 #footer
 {
    width: 100%;
    height: 60px;
    font-size: .5rem;
 }