<footer class="footer sticky-bottom d-flex align-items-center" id="footer">
    <div class="container d-flex justify-content-center">
        <div class="row">
            <a class="footer-link" href="mailto:jwdepetro@gmail.com">&copy; {{ moment().format('Y') }} Jimmy DePetro</a> &nbsp;
            {% if current_user.is_anonymous %}
                &nbsp;| &nbsp;
                <a class="footer-link" href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </div>
</footer>