<nav class="navbar navbar-expand-lg fixed-top" id="header">
    <a class="navbar-brand" href="{{ url_for('index') }}" id="header-title">
        The Avocadoist
    </a>
    {% if not current_user.is_anonymous %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars header-link"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mr-auto"></div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link header-link" href="{{ url_for('post') }}">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-link" href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
        </ul>
    </div>
    {% endif %}
</nav>

<script>
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("header-title").classList.add('header-small')
        } else {
            document.getElementById("header-title").classList.remove('header-small')
        }
    }
</script>