<nav class="navbar navbar-expand-lg fixed-top" id="header">
    <div>
        <a class="navbar-brand" href="{{ url_for('index') }}" id="header-title">
            The Avocadoist
            {% if active_tag %}
            |&nbsp;{{active_tag}}
            {% endif %}
        </a>
        <p id="header-subtitle">
            Be Kind. Live Simply. Adventure Often.
        </p>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars header-link"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="mr-auto"></div>
        <ul class="navbar-nav text-center text-sm-left">
            <li class="nav-item">
                <a class="nav-link header-link" href="{{ url_for('about_me') }}">
                    <i class="fas fa-grin-beam"></i>&nbsp;About Me
                </a>
            </li>
            {% if not current_user.is_anonymous %}
            <li class="nav-item">
                <a class="nav-link header-link" href="{{ url_for('post') }}">
                    <i class="fas fa-newspaper"></i>&nbsp;Post
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-link" href="{{ url_for('profile') }}">
                    <i class="fas fa-user"></i></i>&nbsp;Edit Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link header-link" href="{{ url_for('logout') }}">
                    <i class="fas fa-power-off"></i>&nbsp;Logout
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script>
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("header-title").classList.add('header-small');
            document.getElementById("header-subtitle").classList.add('header-small');
        } else {
            document.getElementById("header-title").classList.remove('header-small');
            document.getElementById("header-subtitle").classList.remove('header-small');
        }
    }
</script>