<div class="card my-2">
    {% if post.image_url %}
    <img class="card-img-top" src="{{ post.image_url }}">
    {% endif %}
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h2 class="card-title">{{ post.title }}</h2>
            <small>
                {% if not current_user.is_anonymous %}
                <a href="{{ url_for('edit_post', id=post.id) }}">
                    <i class="fa fa-edit"></i>
                </a>
                {% endif %}
                {{ moment(post.timestamp).format('LLL') }}
            </small>
        </div>
        <p style="white-space: pre-wrap;">{{ post.body }}</p>
    </div>
</div>