{% extends "index.html" %}
{% block content %}

    <div class="jumbotron">
        <div class="d-flex justify-content-between">
            <h1 class="display-4 app-title">The Avocadoist</h1>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col col-md-11 col-lg-8">
                {% for post in posts %}
                    {% include "partials/_post.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}